*{
  box-sizing: border-box;
}
.top-social {
  display: flex;
  justify-content: flex-end;
}
.top-social li {
  list-style: none;
  padding: 1.5rem;

}

.fa-envelope {
  color: red;
}

.fa-linkedin-in {
  color: blue;
}

ul{
  width: 90%;
}
nav li{
  list-style: none;
  padding: .5rem;
  margin: .5rem;
  border-top-right-radius: 100px 200px;
  background-color: #D1E8E2;
  float:right;
  width:9%;
  text-align:center;
}
li a:link{
  text-decoration: none;
  color:blue;
}
li a:hover{
  color:red;
  background: #659DBD;
  padding:.5rem;
}
li a:visited{
  color:green;
}
/* underneath main page styles */
.home-page img:nth-child(3) {
  width: 10%;
  transition: all 0.5s ease;
  position: relative;
  left:9rem;
}
.home-page img:nth-child(3):hover {
  transform: rotate(-10deg);
}
.home-page img[alt="globe"] {
  clear: both;
  background-color: blue;
  width: 50%;
}
.my-name{
  font-family: Times, TimesNR, 'New Century Schoolbook',
     Georgia, 'New York', serif;
  font-size: 3rem;
  color: #5680E9;
  padding-left: 6rem;
  padding-top: 2rem
}
.my-title{
  font-family: Times, TimesNR, 'New Century Schoolbook',
  Georgia, 'New York', serif;
  font-size: 1.5rem;
  font-style: italic;
  color: #5AB9EA;
  padding-left: 6rem;

}
.introduce{
  font-size: 1.2rem;
  font-family: Helvetica, "Times New Roman";
  line-height: 3rem;
  color: #E98074;
  float: right;
  max-width: 60%;
  padding-right: 6rem;
}
.first-word{
  font-size: 2rem;
  text-decoration: underline;
}
.my-title {
  font-family: 'Yeon Sung', cursive;
}
/* above main page styles */
/*underneath projects page*/
.projects-page h1 {
  text-align: center;
}
.projects-pictures-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.projects-pictures-container img {
  transition: all 0.5s ease;
}
.projects-pictures-container img:first-child {
  width: 20%;
}
.projects-pictures-container img:nth-child(2) {
  width: 20%;
}
.projects-pictures-container img:nth-child(3) {
  width: 20%;
}
.projects-pictures-container img:last-child {
  width: 20%;
}
.projects-pictures-container img:nth-child(even):hover {
  border-radius: 50%;
  transform: rotate(360deg);
}
.projects-pictures-container img:nth-child(odd):hover {
  border: 70px solid #000;
  border-radius: 50%;
}
/* above projects page */
/* contact form page start */
.contact-form-page h1 {
  text-align: center;
}
.contact-form-page main p:nth-child(2) {
  padding-left: 9rem;
}
.contact-form-page form {
  width: 80%;
  margin: auto;
}
.contact-form-page main p {
  padding-top: 1rem;
}
.contact-form-page button, input, select, textarea, p, label {
  font-family: inherit;
  font-size: 100%;
}
.contact-form-page input {
  display: block;
  border-radius: 10px;
}
.contact-form-page input[type="radio"], .contact-form-page input[type="checkbox"] {
  display: inline;
}
.contact-form-page textarea {
  vertical-align: middle;
  display: block;
  resize: none;
}
.contact-form-page legend {
  color: blue;
}
/*contact form page end */
